@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Hello!</strong> @User.Identity.Name
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<form asp-action="LogOut" asp-controller="Identity" method="post">
    <button type="submit" class="btn btn-danger"> Log out </button>
</form>